<h1>Add New Place</h1>

<form action="/places" method="place">
  <%# add form fields %>
  <p>
    <label for="field1">Name</label>
    <input type="text" name="name" id="field1">
  </p>
   <label for="field2">Entry Title</label>
    <input type="text" name="title" id="field2">
    

    <label for="field3">Description</label>
    <input type="text" name="description" id="field3">
    
    <p><button>Submit</button></p>
  
</form>
