<h1>Add New Place</h1>

<form action="/places" method="post">
  <%# add form fields %>
  <p>
    <label for="field1">Location Name</label>
    <input type="text" name="name" id="field1">
  </p>
    
    <p><button>Submit</button></p>
  
</form>
